Hi #{@receiver.email.split('@').first.capitalize}
\======================================================================

You have received a message from #{@sender.email.split('@').first.capitalize}

Thanks for joining and have a great day!
