%div.main-container.col-md-12.inside-body{:style => "padding:0;"}
  .left-panel.col-md-3.well{:style => "background:skyblue;height:46.6em;padding:0;"}
    = render partial: "profile_card"
  .left-panel.col-md-7.well{:style => "background:red;"}
    hello
  .left-panel.col-md-2.well{:style => "background:green;"}
    hello
